DATABASE_URL="postgresql://postgres.yavkxfpnhohbbqifahva:Batatinha1quando2nasce3@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"

DIRECT_URL="postgresql://postgres.yavkxfpnhohbbqifahva:Batatinha1quando2nasce3@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"

TOKEN_SECRET="NãoTinhaMedoOTalJoãoDoSantoCristo"

AUTH_COOKIE_NAME="__AUTH__"
